<div class="row">
  <div class="col-lg-6">
    <h4>Angaben zu einer Ausgabe</h4>

    <form [formGroup]="expenseForm" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="price">Preis</label>
        <input
          type="text"
          id="price"
          class="form-control"
          formControlName="price"
        />
        @if (hasError('price', 'required')) {<span class="form-text text-danger"
          >Preis ist ein Pflichtfeld</span
        >}
      </div>
      <div class="mb-3">
        <label for="title">Titel</label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
        />
        @if (hasError('title', 'required')) {<span class="form-text text-danger"
          >Titel ist ein Pflichtfeld</span
        >}
      </div>
      <div class="mb-3">
        <label for="description">Beschreibung</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          formControlName="description"
        ></textarea>
        @if (hasError('description', 'minLength')) {<span
          class="form-text text-danger"
          >Beschreibung....</span
        >} @if (hasError('description', 'maxLength')) {<span
          class="form-text text-danger"
          >Beschreibung....</span
        >}
      </div>
      <button type="submit" class="btn btn-success">Speichern</button>
    </form>
  </div>
</div>
